<xf:macro name="library-clips" arg-clips="!">

	<div class="block">
		
		<div class="block-container">
		
			<ul class="block-body">
				
				<xf:foreach loop="$clips" key="$id" value="$clip">
					
					<xf:formrow
								label="<a href='{{ link('openxbl/dvr/view', {'media_id': $clip->gameClipId}) }}'><img src='{{ $clip->thumbnails.0->uri }}' /></a>"
						explain="Recorded on {{ $clip->dateRecorded }} ({{ $clip->durationInSeconds }}sec)">
						{{ $clip->titleName }}
					</xf:formrow>
					
					<xf:else />
					
					<div class="block-body">
						<div class="block-row">You have no recorded game clips!</div>
					</div>
					
				</xf:foreach>
				
			</ul>
			
		</div>
		
	</div>

</xf:macro>

<xf:macro name="library-screenshots" arg-items="!">

	<div class="block">
		
		<div class="block-container">
		
			<ul class="block-body">
				
				<xf:foreach loop="$items" key="$id" value="$item">
					
					<xf:formrow
								label="<a href='?openxbl/dvr/{$item->screenshotId}/view'><img src='{{ $item->thumbnails.0->uri }}' /></a>"
						explain="Taken on {{ $item->dateTaken }}">
						{{ $clip->titleName }}
					</xf:formrow>
					
					<xf:else />
					
					<div class="block-body">
						<div class="block-row">You have no screenshots!</div>
					</div>
					
				</xf:foreach>
				
			</ul>
			
		</div>
		
	</div>

</xf:macro>